.header-container {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(12, 3, 51, 0.3), rgba(12, 3, 51, 0.3));
    background-size: cover;
    background-position: center;
    padding: 0px 5%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    nav {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        padding: 20px 8%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            width: 100px;
        }

        ul li {
            list-style: none;
            display: inline-block;
            margin-left: 40px;

            a {
                text-decoration: none;
                color: #000;
                font-size: 17px;
                text-transform: uppercase
            }
        }
    }

    .header-video {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%;

    }

    .header-user {
        display: flex;
        gap: 20px;
        transition: 0.2s ease-in;
        position: relative;
        margin-right: 30px;

        .user {
            height: 30px;
            margin-top: 12px;

            &:hover {
                cursor: pointer;
                transform: scale(1.1);
            }
        }

        #popup {
            display: flex;
            position: absolute;
            top: -80px;
            left: 90px;
            gap: 6px;
            transition: 0.1s ease-in-out;

            button {
                width: 70px;
                height: 35px;
                border-radius: 5px;
                border-style: none;

                &:hover {
                    background: #A3CB38;
                    transform: scale(1.05);
                }
            }

            .btn-close {
                position: absolute;
                top: -20px;
                right: -10px;
                color: #fff;
            }
        }
    }
}

.open-popup {
    margin-top: 85px;
}