.product-category-table {
    margin: 10px 20px 10px -4rem;
    width: 100%;
}

.btn-edit-category {
    margin-right: 1rem;
    font-size: 25px;
    width: 25px;
}

.btn-delete-category {
    font-size: 25px;
    width: 25px;
}

.btn-edit-category:hover {
    background-color: #2ecc71;
    color: #fff !important;
    transform: scale(1.3);
    cursor: pointer;
    border-radius: 50%;
    padding: 3px;

    background: #2ecc71;
    box-shadow: 0px 5px 10px 0 #2ecc71 inset,
        0 5px 20px 0px #2ecc71,
        0 5px 20px 0 #2ecc71 inset,
        0 5px 20px 0 #2ecc71;
    text-shadow: 0 0 10px #2ecc71,
        0 0 10px #2ecc71;
}

.btn-delete-category:hover {
    color: #fff !important;
    transform: scale(1.3);
    cursor: pointer;
    border-radius: 50%;
    padding: 3px;
    margin: 0 auto;

    background: #ED4C67;
    box-shadow: 0px 5px 10px 0 #ED4C67 inset,
        0 5px 20px 0px #ED4C67,
        0 5px 20px 0 #ED4C67 inset,
        0 5px 20px 0 #ED4C67;
    text-shadow: 0 0 20px #ED4C67,
        0 0 20px #ED4C67;
}